.pets {
    display: flex;
    justify-content: space-around;
    margin: 32px 0;
    flex-wrap: wrap;
    row-gap: 10px;
    text-align: center;
}

h3 {
    font-size: 30px;
    color: #FC7071;
    padding-bottom: 24px;
    text-align: center;

}

h4 {
    text-align: center;
    color: #FC7071;
}

h4 a {
    text-decoration: underline;
    color: #36D6AD;
}
