.pets {
    display: grid;
    grid-template-columns: repeat(12, minmax(0,1fr));
    grid-gap: 30px;
    margin-bottom: 50px;
  
}

.pets .card {
    grid-column: span 12;
}

@media screen and (min-width: 450px) {
    .pets .card {
        grid-column: span 6;
    }
}

@media screen and (min-width: 800px) {
    .pets .card {
        grid-column: span 4;
    }
}

@media screen and (min-width: 1100px) {
    .pets .card {
        grid-column: span 3;
    }
}

h3 {
    font-size: 30px;
    color: #FC7071;
    padding-bottom: 24px;
    text-align: center;

}

h4 {
    text-align: center;
    color: #FC7071;
}

h4 a {
    text-decoration: underline;
    color: #36D6AD;
}
