* {
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

img {
    display: block;
    width: 100%;
}

.container {
    max-width: 1200px;
    padding: 0 20px;
    margin: 0 auto;
    width: 100%;
}

h1 {
    font-size: 40px;
    color: #FC7071;
    border-bottom: 4px solid #36D6AD;
    display: inline-block;
    padding-bottom: 24px;
    margin: 32px 0;
  }
  
h1, h2 {
    font-family: 'Prata', serif;
  }

.links {
    color: #fff;
    text-decoration: none;
}

.message {
    font-size: 16px;
    padding: 10px;
    width: 50%;
    margin: 20px auto;
    border-radius: 5px;
    text-align: center;
}

.message.success {
    color: black;
    background-color: aquamarine;
}